@model EmployeePayroll_v2.Models.Employee

[Window Title]
SmartAudio 3

@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>
        @if (Model.EmployeeType == EnumEmployeeTypes.Regular)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MonthlyRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MonthlyRate)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DailyRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DailyRate)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="ShowCalculate" asp-route-id="@Model.Id">Calculate</a> |
    <a asp-action="Index">Back to List</a>
</div>
