@model IEnumerable<EmployeePayroll_v2.Models.Employee>

@{
    ViewData["Title"] = "Index";
    var count = Model.Count();
    EmployeePayroll_v2.Services.EmployeeDAO employeeDAO = new EmployeePayroll_v2.Services.EmployeeDAO();
    var total = employeeDAO.GetEmployeeCount();
}

<h1>Employees</h1>

<hr />

<p>
    @* <a asp-action="Create">Create New</a> *@
    
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <label class="control-label" style="float:right">Showing @count record(s).  Total of @total record(s).</label>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeType)
                </td>
                @if (item.EmployeeType == EnumEmployeeTypes.Regular)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthlyRate)
                    </td>
                    <td>N/A</td>
                }
                else
                {
                    <td>N/A</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DailyRate)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ShowCalculate" asp-route-id="@item.Id">Calculate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
