@model EmployeePayroll_v2.Models.PaySlip

@{
    ViewData["Title"] = "Calculate";
}

<h1>Calculate Employee Salary</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthlyRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyRate)
        </dd>
    </dl>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowPayslip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="EmployeeType" />
            <input type="hidden" asp-for="BirthDate" />
            <input type="hidden" asp-for="TIN" />
            <input type="hidden" asp-for="MonthlyRate" />
            <input type="hidden" asp-for="DailyRate" />
            @if (Model.EmployeeType == EnumEmployeeTypes.Regular)
            {
                <div class="form-group">
                    <label asp-for="AbsentDays" class="control-label"></label>
                    <input asp-for="AbsentDays" class="form-control" />
                    <span asp-validation-for="AbsentDays" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="PresentDays" class="control-label"></label>
                    <input asp-for="PresentDays" class="form-control" />
                    <span asp-validation-for="PresentDays" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
